/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


#sidebar {
    float: right;
    height: 800px;
    width: 200px;
    padding: 10px;
    background: #f7bebe;
    margin-left: 5px;
}

#sidebar h1 {
    font-size: 15px;
    text-align: center;
    color: #f00;
}

#eaddress {
    font-family: Constantia, "Times New Roman, sans-serif";
    font-size: 1.6em;
    color: green;
}
.furniture_form {
    width: 500px;
}

h1 {
    color: #c00;
    }

table {
    border-collapse: collapse;
}

td {
    padding: 10px;
    border: 1px solid #f7bebe;
}

.show_image {
    width: 60px;
    height: 60px;
}


